.env
.env.backup
.env.production
.htaccess
.phpunit.result.cache
.user.ini
*.cookie
*.log
/.fleet
/.idea
/.vscode
/bootstrap/cache/*
/node_modules
/public/uploads
/public/uploads/*
/public/storage
/public/upload
/public/uploads/thumbnails/*
/storage/*.key
/storage/appLogs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
/storage/logs/laravel.log
/vendor
/vendor/*

composer.lock
desktop.ini
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
public/*.cookie
README.md
/.well-known